api/imagen_api/models_bindings/models/*
api/imagen_api/models_bindings/__pycache__/*
/cloud/env
/venv
/front/ai-canvas-front/node_modules
cloud/functions/vm_manipulation.ipynb
cloud/gylwww3c.bmp
cloud/functions/out.png
cloud/.env
notebooks/.env
api/imagen_api/.env
