api/imagen_api/models_bindings/models/*
api/imagen_api/models_bindings/__pycache__/*
/cloud/env
/venv
/front/ai-canvas-front/node_modules
cloud/functions/vm_manipulation.ipynb
cloud/gylwww3c.bmp
cloud/functions/out.png
cloud/.env
notebooks/.env
api/imagen_api/.env
notebooks/*
models_bindings/models/dalle-mini-mega/dalle_bart_mega/decoder.pt
models_bindings/models/dalle-mini-mega/dalle_bart_mega/encoder.pt
models_bindings/models/dalle-mini-mega/dalle_bart_mega/merges.txt
models_bindings/models/dalle-mini-mega/dalle_bart_mega/vocab.json
models_bindings/models/dalle-mini-mega/vqgan/detoker.pt
*.pyc
*.env