html, body {margin: 0; height: 100%; overflow: hidden}

input, button{
  border-radius: 5px;
  border-style: groove;
  height: 40px;
  border: 0;
  margin-right: 9px;
  font-size: 20px;
}

input {
  padding-right: 10px;
  padding-left: 10px;
}

input::placeholder{
  color: rgba(255, 127, 80, 0.452);
}

input{
  padding-left: 20px;
}

button{
  background-color: black;
  color: beige;
  border: solid;
  border-width: 2px;
  border-color: white;
  cursor: pointer;
}

.bar{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.info {
  font-size: 40px;
  height: 50px;
  width: 50px;
  background-color: transparent;
  color: rgb(174, 63, 23);
  background-color: rgb(252, 220, 208);
}

.coords {
  background-color: white;
}

.choiceButton {
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
}

.choiceButtonCont {
  width: 400px;
}

.choiceButtonCont div {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 150px;
}

.green {
  background-color: green;
}