input, button{
  border-radius: 20px;
  border-style: groove;
  height: 40px;
  border: 0;
  margin-right: 9px;
  font-size: 30px;
}

input::placeholder{
  color: rgba(255, 127, 80, 0.452);
}

input{
  padding-left: 20px;
}

button{
  background-color: black;
  color: beige;
  cursor: pointer;
}

.bar{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.info{
  font-size: 40px;
  background-color: transparent;
  color: coral;

}